<% require IEx; IEx.pry() %>
<h2>Chat with vendor</h2>
    <div id="chat-box">
        <div class="col-md-8">
        <input type="text" id="user-msg" placeholder="Type and press enter..." class="form-control">
        <button id="btnPost">Post</button>
        <ul id="MessageList" class="list-unstyled">
          <%= for message <- @messages do %>
              <p><b><%= message.name %>:</b> <%= message.body %></p>  
          <% end %>
        </ul>
      </div>
    </div>
    
      
    